@{
    ViewBag.Title = "Farfetch Questions";
}

<h3>Ask the Farfetch Question service a questions, if you dare</h3>
<img src="~/images/farfetch.png" />
@if (ViewBag.ErrorMessage == null)
{
    <form name="input" action="" method="post">
        Your question: <input type="text" name="question">
        <input type="submit" value="Submit">
    </form>
}

@{
    ViewData["Title"] = "About";
}
<h2>Your Answer</h2>
<p>@ViewData["Answer"]</p>
